/**
 * @name Oled Black
 * @author cryptofyre
 * @description Sexy oled black theme
*/

@media (prefers-color-scheme: dark) {
    :root {
        --transparency: #0f0f0f10 !important;
        --sidebar: #0c0c0c !important;
        --pageBG: rgb(0, 0, 0) !important;
        --playerBackground: #131313 !important;
    }

    .dt-search-box__input {
        background-color: #00000013 !important;
    }
}