:root {
 --bodyGutter:25px;
 color-scheme:light dark;
 --systemRed:#ff3b30;
 --systemRed-vibrant:#f53126;
 --systemRed-default_IC:#d70015;
 --systemRed-vibrant_IC:#c20618;
 --systemOrange:#ff9500;
 --systemOrange-vibrant:#f58b00;
 --systemOrange-default_IC:#c93400;
 --systemOrange-vibrant_IC:#ad3a00;
 --systemYellow:#ffcc00;
 --systemYellow-vibrant:#f5c200;
 --systemYellow-default_IC:#a05a00;
 --systemYellow-vibrant_IC:#925100;
 --systemGreen:#28cd41;
 --systemGreen-vibrant:#1ec337;
 --systemGreen-default_IC:#007d1b;
 --systemGreen-vibrant_IC:#007018;
 --systemMint:#00c7be;
 --systemMint-vibrant:#00bdb4;
 --systemMint-default_IC:#0c817b;
 --systemMint-vibrant_IC:#0b7570;
 --systemTeal:#59adc4;
 --systemTeal-vibrant:#2ea7bd;
 --systemTeal-default_IC:#008299;
 --systemTeal-vibrant_IC:#00778c;
 --systemCyan:#55bef0;
 --systemCyan-vibrant:#41afdc;
 --systemCyan-default_IC:#0071a4;
 --systemCyan-vibrant_IC:#006796;
 --systemBlue:#007aff;
 --systemBlue-vibrant:#0070f5;
 --systemBlue-default_IC:#0040dd;
 --systemBlue-vibrant_IC:#0040dd;
 --systemBlue-rollover:#0045b7;
 --systemBlue-pressed:#005cd7;
 --systemBlue-deepPressed:#0045b7;
 --systemBlue-disabled:rgba(0, 122, 255, 0.35);
 --systemIndigo:#5856d6;
 --systemIndigo-vibrant:#5452cc;
 --systemIndigo-default_IC:#3634a3;
 --systemIndigo-vibrant_IC:#3634a3;
 --systemPurple:#af52de;
 --systemPurple-vibrant:#9f4bc9;
 --systemPurple-default_IC:#ad44ab;
 --systemPurple-vibrant_IC:#ad44ab;
 --systemPink:#ff2d55;
 --systemPink-vibrant:#f5234b;
 --systemPink-default_IC:#d30f45;
 --systemPink-vibrant_IC:#c11032;
 --systemBrown:#a2845e;
 --systemBrown-vibrant:#987a54;
 --systemBrown-default_IC:#7f6545;
 --systemBrown-vibrant_IC:#775d3b;
 --systemGray:#8e8e93;
 --systemGray-vibrant:#848489;
 --systemGray-default_IC:#69696e;
 --systemGray-vibrant_IC:#616165;
 --systemPrimary:rgba(0, 0, 0, 0.85);
 --systemPrimary-vibrant:#4c4c4c;
 --systemPrimary-vibrant-rgb:76,76,76;
 --systemPrimary-default_IC:black;
 --systemPrimary-default_IC-rgb:0,0,0;
 --systemPrimary-vibrant_IC:black;
 --systemPrimary-vibrant_IC-rgb:0,0,0;
 --systemSecondary:rgba(0, 0, 0, 0.5);
 --systemSecondary-vibrant:gray;
 --systemSecondary-default_IC:rgba(0, 0, 0, 0.76);
 --systemSecondary-vibrant_IC:rgba(0, 0, 0, 0.76);
 --systemTertiary:rgba(0, 0, 0, 0.25);
 --systemTertiary-vibrant:#bfbfbf;
 --systemTertiary-default_IC:rgba(0, 0, 0, 0.56);
 --systemTertiary-vibrant_IC:rgba(0, 0, 0, 0.56);
 --systemQuaternary:rgba(0, 0, 0, 0.1);
 --systemQuaternary-vibrant:#e6e6e6;
 --systemQuaternary-default_IC:rgba(0, 0, 0, 0.35);
 --systemQuaternary-vibrant_IC:rgba(0, 0, 0, 0.35);
 --systemQuinary:rgba(0, 0, 0, 0.05);
 --systemQuinary-vibrant:#f2f2f2;
 --systemQuinary-default_IC:rgba(0, 0, 0, 0.1);
 --systemQuinary-vibrant_IC:rgba(0, 0, 0, 0.1);
 --keyColor:#fa233b;
 --keyColor-rgb:250,35,59;
 --keyColor-rollover:#c60007;
 --keyColor-rollover-rgb:198,0,7;
 --keyColor-pressed:#e00921;
 --keyColor-pressed-rgb:224,9,33;
 --keyColor-deepPressed:#c60007;
 --keyColor-deepPressed-rgb:198,0,7;
 --keyColor-disabled:rgba(250, 35, 59, 0.35);
 --keyColor-default_IC:#d60017;
 --keyColor-default_IC-rgb:214,0,23;
 --keyColor-rollover_IC:#a20000;
 --keyColor-rollover_IC-rgb:162,0,0;
 --keyColor-pressed_IC:#bb0000;
 --keyColor-pressed_IC-rgb:187,0,0;
 --keyColor-deepPressed_IC:#a20000;
 --keyColor-deepPressed_IC-rgb:162,0,0;
 --keyColor-disabled_IC:rgba(214, 0, 23, 0.25);
 --systemStandardUltrathinMaterialSover:rgba(246, 246, 246, 0.36);
 --systemStandardUltrathinMaterialSover-inactive:#f0f0f0;
 --systemStandardUltrathinMaterialSover-default_IC:#d2d2d2;
 --systemStandardUltrathinMaterialSover-inactive_IC:#ececec;
 --systemStandardThinMaterialSover:rgba(246, 246, 246, 0.48);
 --systemStandardThinMaterialSover-inactive:#f0f0f0;
 --systemStandardThinMaterialSover-default_IC:gainsboro;
 --systemStandardThinMaterialSover-inactive_IC:#ececec;
 --systemStandardMediumMaterialSover:rgba(246, 246, 246, 0.6);
 --systemStandardMediumMaterialSover-inactive:#f0f0f0;
 --systemStandardMediumMaterialSover-default_IC:#e6e6e6;
 --systemStandardMediumMaterialSover-inactive_IC:#ececec;
 --systemStandardThickMaterialSover:rgba(246, 246, 246, 0.72);
 --systemStandardThickMaterialSover-inactive:#f0f0f0;
 --systemStandardThickMaterialSover-default_IC:#f0f0f0;
 --systemStandardThickMaterialSover-inactive_IC:#ececec;
 --systemStandardUltrathickMaterialSover:rgba(246, 246, 246, 0.84);
 --systemStandardUltrathickMaterialSover-inactive:#f0f0f0;
 --systemStandardUltrathickMaterialSover-default_IC:#fafafa;
 --systemStandardUltrathickMaterialSover-inactive_IC:#ececec;
 --systemHeaderMaterialSover:rgba(255, 255, 255, 0.8);
 --systemHeaderMaterialSover-default_IC:white;
 --systemToolbarTitlebarMaterialSover:rgba(253, 253, 253, 0.8);
 --systemToolbarTitlebarMaterialSover-inactive:#f0f0f0;
 --systemToolbarTitlebarMaterialSover-default_IC:white;
 --systemToolbarTitlebarMaterialSover-inactive_IC:#ececec;
 --labelDivider:rgba(0, 0, 0, 0.15);
 --vibrantDivider:rgba(60, 60, 67, 0.29);
 --pageBG:white;
 --shelfBG:rgba(0, 0, 0, 0.05);
 --genericJoeColor:#ebebeb;
 --fallbackMaterialBG:rgba(255, 255, 255, 0.97);
 --musicKeyColor:#fa233b;
 --musicKeyColor-rollover:#c60007;
 --musicKeyColor-pressed:#e00921;
 --musicKeyColor-deepPressed:#c60007;
 --musicKeyColor-disabled:rgba(250, 35, 59, 0.35);
 --musicKeyColor-default_IC:#d60017;
 --musicKeyColor-rollover_IC:#a20000;
 --musicKeyColor-pressed_IC:#bb0000;
 --musicKeyColor-deepPressed_IC:#a20000;
 --musicKeyColor-disabled_IC:rgba(214, 0, 23, 0.25);
 --systemAccentBG:#fa233b;
 --systemAccentBG-rollover:#c60007;
 --systemAccentBG-pressed:#e00921;
 --systemAccentBG-deepPressed:#c60007;
 --systemAccentBG-disabled:rgba(250, 35, 59, 0.35);
 --systemAccentBG-default_IC:#d60017;
 --systemAccentBG-rollover_IC:#a20000;
 --systemAccentBG-pressed_IC:#bb0000;
 --systemAccentBG-deepPressed_IC:#a20000;
 --systemAccentBG-disabled_IC:rgba(214, 0, 23, 0.25);
 --musicBrandBG:#fa233b;
 --musicBrandBG-default_IC:#d60017;
 --modalBGColor:white;
 --modalBGColor-rgb:255,255,255;
 --modalBGHeaderColor:rgba(255, 255, 255, 0.97);
 --modalScrimColor:rgba(0, 0, 0, 0.45);
 --opaqueShelfBG:#f2f2f2;
 --profileBadgeJoeColor:#e2e4e7;
 --selectionColor:#dd1f34;
 --selectionColor-default_IC:#d60017;
 --selectionColorRollover:#af0007;
 --selectionColorRollover-default_IC:#a20000;
 --selectionColorPressed:#c6081d;
 --selectionColorPressed-default_IC:#bb0000;
 --selectionColorDeepPressed:#af0007;
 --selectionColorDeepPressed-default_IC:#a20000;
 --selectionColorDisabled:rgba(250, 35, 59, 0.35);
 --selectionColorDisabled-default_IC:rgba(214, 0, 23, 0.25);
 --topResultsBGColor:rgba(0, 0, 0, 0.1);
 --lockupHoverBGColor:rgba(51, 51, 51, 0.3);
 --opaquePageBGColor:white;
 --replayCardBG:#f7f3eb;
 --replayComponentBG:#fbf9f5;
 --barButtonDeselectedGradientTop:#fefefe;
 --barButtonDeselectedGradientBottom:#fafafa;
 --barButtonSelectedBGFill:#7f7f7f;
 --barButtonSelectedTextColor:white;
 --lockupSuperlabelPrimary:rgba(255, 255, 255, 0.95);
 --lockupChinScrim:rgba(0, 0, 0, 0.2);
 --lovedBGColor:#fa233b;
 --playerDropShadow2:rgba(0, 0, 0, 0.07);
 --playerInnerShadow:rgba(255, 255, 255, 0.45);
 --powerSwooshAlgoRadioLockupChinScrim:rgba(44, 44, 46, 0.4);
 --socialSearchBG:rgba(0, 0, 0, 0.15);
 --socialModalFooter:rgba(255, 255, 255, 0.7);
 --tracklistAltRowColor:rgba(0, 0, 0, 0.015);
 --tracklistAltRowColor-default_IC:rgba(0, 0, 0, 0.05);
 --tracklistHoverColor:rgba(0, 0, 0, 0.06);
 --tracklistHoverColor-default_IC:rgba(0, 0, 0, 0.1);
 --tracklistWorksTrackHoverColor:rgba(0, 0, 0, 0.12);
 --tracklistWorksTrackHoverColor-default_IC:rgba(0, 0, 0, 0.18);
 --viewLoading:white;
 --circularArtistHeaderGradientBottom:rgba(0, 0, 0, 0.05);
 --dialogScrimColor:rgba(255, 255, 255, 0.8);
 --monogramPlaceholderColor:#9a9aa2;
 --listItemAddDownloadBG:rgba(0, 0, 0, 0.5);
 --listItemProgressBG:rgba(0, 0, 0, 0.25);
 --radiosityShadowColor:rgba(0, 0, 0, 0.1);
 --dialogShadowColor:rgba(0, 0, 0, 0.25);
 --contextMenuBorderColor:rgba(0, 0, 0, 0.15);
 --contextMenuTextColor:rgba(0, 0, 0, 0.85);
 --footerBG:#fbfbfb;
 --frostedFallbackHover:rgba(142, 142, 147, 0.8);
 --iPhoneNowPlayingBackdropBG:#dbccc4;
 --searchBorder:rgba(0, 0, 0, 0.15);
 --searchIconDropShadow:rgba(0, 0, 0, 0.15);
 --searchHintsBG:rgba(232, 232, 232, 0.9);
 --searchHintsBGHover:rgba(201, 204, 203, 0.9);
 --sidebar:rgba(60, 60, 67, 0.03);
 --sidebar-default_IC:#fafafa;
 --sidebarBorderRule:rgba(0, 0, 0, 0.1);
 --sidebarSelectedState:rgba(60, 60, 67, 0.1);
 --sidebarNativeUpsellBackgroundFallback:rgba(255, 255, 255, 0.97);
 --webNavigationMobileBg:white;
 --playerScrubberPlayhead:gray;
 --playerScrubberFill:rgba(0, 0, 0, 0.5);
 --playerScrubberTrack:rgba(0, 0, 0, 0.1);
 --playerBackgroundFallback:rgba(255, 255, 255, 0.97);
 --playerBackgroundFallback-default_IC:#fafafa;
 --playerBackground:rgba(255, 255, 255, 0.88);
 --playerBackground-default_IC:#fafafa;
 --playerGradientTop:rgba(255, 255, 255, 0.25);
 --playerGradientBottom:rgba(255, 255, 255, 0);
 --playerLCDLogo:rgba(0, 0, 0, 0.5);
 --playerLCDBGFill:white;
 --playerLCDBGFill-rgb:255,255,255;
 --playerLCDBGOuterStroke:rgba(0, 0, 0, 0.2);
 --playerArtworkKeyline:rgba(0, 0, 0, 0.1);
 --playerVolumePlayhead:white;
 --playerVolumePlayheadActive:#e5e5e5;
 --playerVolumeFill:rgba(0, 0, 0, 0.5);
 --playerVolumeTrack:rgba(0, 0, 0, 0.15);
 --playerVolumeIconFill:rgba(0, 0, 0, 0.4);
 --trackBackgroundEven:rgba(0, 0, 0, 0.02);
 --trackHoverColor:rgba(255, 255, 255, 0.97);
 --playerPlatterButtonBGFill:#6c6c6c;
 --playerPlatterButtonIconFill:white;
 --librarySongsTrackInactiveBG:rgba(0, 0, 0, 0.14);
 --searchScopeDeselectedGradientTop:#fefefe;
 --searchScopeDeselectedGradientBottom:#fafafa;
 --searchScopeSelectedBGFill:#7f7f7f;
 --searchScopeSelectedTextColor:white;
 --searchBoxIconFill:rgba(0, 0, 0, 0.65);
 --segmentedControlBG:rgba(118, 118, 128, 0.12);
 --segmentedControlSelectedBG:white;
 --segmentedControlSelectedShadow1:rgba(0, 0, 0, 0.12);
 --segmentedControlSelectedShadow2:rgba(0, 0, 0, 0.04);
 --segmentedControlSelectedBorder:rgba(0, 0, 0, 0.04);
 --searchBarBorderColor:rgba(0, 0, 0, 0.15);
 --viewport-default:"xsmall";
 --viewport-grid-layout:"grid-layout:xs-1";
 --viewport-sidebar:"sidebar:hidden";
 --viewport-search-landing-grid:"search-landing-grid:1";
 --web-navigation-width:164px
}

@media (prefers-color-scheme:dark) {
 :root {
  --systemRed:#ff453a;
  --systemRed-vibrant:#ff4f44;
  --systemRed-default_IC:#ff6961;
  --systemRed-vibrant_IC:#ff4136;
  --systemOrange:#ff9f0a;
  --systemOrange-vibrant:#ffa914;
  --systemOrange-default_IC:#ffb340;
  --systemOrange-vibrant_IC:#ffb340;
  --systemYellow:#ffd60a;
  --systemYellow-vibrant:#ffe014;
  --systemYellow-default_IC:#ffd426;
  --systemYellow-vibrant_IC:#ffd426;
  --systemGreen:#32d74b;
  --systemGreen-vibrant:#3ce155;
  --systemGreen-default_IC:#31de4b;
  --systemGreen-vibrant_IC:#31de4b;
  --systemMint:#63e6e2;
  --systemMint-vibrant:#6ce0db;
  --systemMint-default_IC:#63e6e2;
  --systemMint-vibrant_IC:#63e6e2;
  --systemTeal:#6ac4dc;
  --systemTeal-vibrant:#44d4ed;
  --systemTeal-default_IC:#5de6ff;
  --systemTeal-vibrant_IC:#5de6ff;
  --systemCyan:#5ac8f5;
  --systemCyan-vibrant:#5acdfa;
  --systemCyan-default_IC:#70d7ff;
  --systemCyan-vibrant_IC:#70d7ff;
  --systemBlue:#0a84ff;
  --systemBlue-vibrant:#148eff;
  --systemBlue-default_IC:#409cff;
  --systemBlue-vibrant_IC:#409cff;
  --systemBlue-rollover:#47c1ff;
  --systemBlue-pressed:#38b2ff;
  --systemBlue-deepPressed:#47c1ff;
  --systemBlue-disabled:rgba(10, 132, 255, 0.5);
  --systemIndigo:#5e5ce6;
  --systemIndigo-vibrant:#6361f2;
  --systemIndigo-default_IC:#7d7aff;
  --systemIndigo-vibrant_IC:#7d7aff;
  --systemPurple:#bf5af2;
  --systemPurple-vibrant:#cc65ff;
  --systemPurple-default_IC:#da8fff;
  --systemPurple-vibrant_IC:#da8fff;
  --systemPink:#ff375f;
  --systemPink-vibrant:#ff4169;
  --systemPink-default_IC:#ff6482;
  --systemPink-vibrant_IC:#ff3a5f;
  --systemBrown:#ac8e68;
  --systemBrown-vibrant:#b69872;
  --systemBrown-default_IC:#b59469;
  --systemBrown-vibrant_IC:#b59469;
  --systemGray:#98989d;
  --systemGray-vibrant:#a2a2a7;
  --systemGray-default_IC:#98989d;
  --systemGray-vibrant_IC:#98989d;
  --systemPrimary:rgba(255, 255, 255, 0.85);
  --systemPrimary-vibrant:#e5e5e5;
  --systemPrimary-vibrant-rgb:229,229,229;
  --systemPrimary-default_IC:white;
  --systemPrimary-default_IC-rgb:255,255,255;
  --systemPrimary-vibrant_IC:white;
  --systemPrimary-vibrant_IC-rgb:255,255,255;
  --systemSecondary:rgba(255, 255, 255, 0.55);
  --systemSecondary-vibrant:#7c7c7c;
  --systemSecondary-default_IC:rgba(255, 255, 255, 0.7);
  --systemSecondary-vibrant_IC:rgba(255, 255, 255, 0.7);
  --systemTertiary:rgba(255, 255, 255, 0.25);
  --systemTertiary-vibrant:#414141;
  --systemTertiary-default_IC:rgba(255, 255, 255, 0.5);
  --systemTertiary-vibrant_IC:rgba(255, 255, 255, 0.5);
  --systemQuaternary:rgba(255, 255, 255, 0.1);
  --systemQuaternary-vibrant:#232323;
  --systemQuaternary-default_IC:rgba(255, 255, 255, 0.3);
  --systemQuaternary-vibrant_IC:rgba(255, 255, 255, 0.3);
  --systemQuinary:rgba(255, 255, 255, 0.05);
  --systemQuinary-vibrant:#080808;
  --systemQuinary-default_IC:rgba(255, 255, 255, 0.1);
  --systemQuinary-vibrant_IC:rgba(255, 255, 255, 0.1);
  --keyColor:#fa2d48;
  --keyColor-rgb:250,45,72;
  --keyColor-rollover:#ff5f7a;
  --keyColor-rollover-rgb:255,95,122;
  --keyColor-pressed:#ff4661;
  --keyColor-pressed-rgb:255,70,97;
  --keyColor-deepPressed:#ff5f7a;
  --keyColor-deepPressed-rgb:255,95,122;
  --keyColor-disabled:rgba(250, 45, 72, 0.35);
  --keyColor-default_IC:#fa586a;
  --keyColor-default_IC-rgb:250,88,106;
  --keyColor-rollover_IC:#ff8a9c;
  --keyColor-rollover_IC-rgb:255,138,156;
  --keyColor-pressed_IC:#ff7183;
  --keyColor-pressed_IC-rgb:255,113,131;
  --keyColor-deepPressed_IC:#ff8a9c;
  --keyColor-deepPressed_IC-rgb:255,138,156;
  --keyColor-disabled_IC:rgba(250, 88, 106, 0.35);
  --systemStandardUltrathinMaterialSover:rgba(40, 40, 40, 0.4);
  --systemStandardUltrathinMaterialSover-inactive:#282828;
  --systemStandardUltrathinMaterialSover-default_IC:black;
  --systemStandardUltrathinMaterialSover-inactive_IC:#141414;
  --systemStandardThinMaterialSover:rgba(40, 40, 40, 0.5);
  --systemStandardThinMaterialSover-inactive:#282828;
  --systemStandardThinMaterialSover-default_IC:#0a0a0a;
  --systemStandardThinMaterialSover-inactive_IC:#141414;
  --systemStandardMediumMaterialSover:rgba(40, 40, 40, 0.6);
  --systemStandardMediumMaterialSover-inactive:#282828;
  --systemStandardMediumMaterialSover-default_IC:#141414;
  --systemStandardMediumMaterialSover-inactive_IC:#141414;
  --systemStandardThickMaterialSover:rgba(40, 40, 40, 0.7);
  --systemStandardThickMaterialSover-inactive:#282828;
  --systemStandardThickMaterialSover-default_IC:#1e1e1e;
  --systemStandardThickMaterialSover-inactive_IC:#141414;
  --systemStandardUltrathickMaterialSover:rgba(40, 40, 40, 0.8);
  --systemStandardUltrathickMaterialSover-inactive:#282828;
  --systemStandardUltrathickMaterialSover-default_IC:#282828;
  --systemStandardUltrathickMaterialSover-inactive_IC:#141414;
  --systemHeaderMaterialSover:rgba(30, 30, 30, 0.8);
  --systemHeaderMaterialSover-default_IC:#1e1e1e;
  --systemToolbarTitlebarMaterialSover:rgba(60, 60, 60, 0.8);
  --systemToolbarTitlebarMaterialSover-inactive:#282828;
  --systemToolbarTitlebarMaterialSover-default_IC:#262626;
  --systemToolbarTitlebarMaterialSover-inactive_IC:#141414;
  --labelDivider:rgba(255, 255, 255, 0.1);
  --vibrantDivider:rgba(235, 235, 245, 0.19);
  --pageBG:#1f1f1f;
  --shelfBG:rgba(255, 255, 255, 0.05);
  --genericJoeColor:#323232;
  --fallbackMaterialBG:rgba(31, 31, 31, 0.97);
  --musicKeyColor:#fa2d48;
  --musicKeyColor-rollover:#ff5f7a;
  --musicKeyColor-pressed:#ff4661;
  --musicKeyColor-deepPressed:#ff5f7a;
  --musicKeyColor-disabled:rgba(250, 45, 72, 0.35);
  --musicKeyColor-default_IC:#fa586a;
  --musicKeyColor-rollover_IC:#ff8a9c;
  --musicKeyColor-pressed_IC:#ff7183;
  --musicKeyColor-deepPressed_IC:#ff8a9c;
  --musicKeyColor-disabled_IC:rgba(250, 88, 106, 0.35);
  --systemAccentBG:#fa233b;
  --systemAccentBG-rollover:#c60007;
  --systemAccentBG-pressed:#e00921;
  --systemAccentBG-deepPressed:#c60007;
  --systemAccentBG-disabled:rgba(250, 35, 59, 0.35);
  --systemAccentBG-default_IC:#d60017;
  --systemAccentBG-rollover_IC:#a20000;
  --systemAccentBG-pressed_IC:#bb0000;
  --systemAccentBG-deepPressed_IC:#a20000;
  --systemAccentBG-disabled_IC:rgba(214, 0, 23, 0.25);
  --musicBrandBG:#fa233b;
  --musicBrandBG-default_IC:#d60017;
  --modalBGColor:#1f1f1f;
  --modalBGColor-rgb:31,31,31;
  --modalBGHeaderColor:rgba(31, 31, 31, 0.97);
  --modalScrimColor:rgba(0, 0, 0, 0.55);
  --opaqueShelfBG:#2b2b2b;
  --profileBadgeJoeColor:#e2e4e7;
  --selectionColor:#c11b2e;
  --selectionColor-default_IC:#a60012;
  --selectionColorRollover:#990006;
  --selectionColorRollover-default_IC:#7d0000;
  --selectionColorPressed:#ad0719;
  --selectionColorPressed-default_IC:#900000;
  --selectionColorDeepPressed:#990006;
  --selectionColorDeepPressed-default_IC:#7d0000;
  --selectionColorDisabled:rgba(250, 45, 72, 0.35);
  --selectionColorDisabled-default_IC:rgba(66, 0, 7, 0.421075);
  --topResultsBGColor:rgba(255, 255, 255, 0.1);
  --lockupHoverBGColor:rgba(51, 51, 51, 0.3);
  --opaquePageBGColor:#2d2d2d;
  --replayCardBG:#1a1a1a;
  --replayComponentBG:#2e2e2e;
  --barButtonDeselectedGradientTop:#595a5c;
  --barButtonDeselectedGradientBottom:#565759;
  --barButtonSelectedBGFill:#aeaeb2;
  --barButtonSelectedTextColor:#4c4c4c;
  --lockupSuperlabelPrimary:rgba(0, 0, 0, 0.95);
  --lockupChinScrim:rgba(0, 0, 0, 0.2);
  --lovedBGColor:#fa2d48;
  --playerDropShadow2:rgba(0, 0, 0, 0.1);
  --playerInnerShadow:rgba(255, 255, 255, 0.1);
  --powerSwooshAlgoRadioLockupChinScrim:rgba(44, 44, 46, 0.4);
  --socialSearchBG:rgba(255, 255, 255, 0.15);
  --socialModalFooter:rgba(0, 0, 0, 0.7);
  --tracklistAltRowColor:rgba(255, 255, 255, 0.015);
  --tracklistAltRowColor-default_IC:rgba(255, 255, 255, 0.05);
  --tracklistHoverColor:rgba(255, 255, 255, 0.06);
  --tracklistHoverColor-default_IC:rgba(255, 255, 255, 0.1);
  --tracklistWorksTrackHoverColor:rgba(255, 255, 255, 0.12);
  --tracklistWorksTrackHoverColor-default_IC:rgba(255, 255, 255, 0.18);
  --viewLoading:transparent;
  --circularArtistHeaderGradientBottom:rgba(255, 255, 255, 0.03);
  --dialogScrimColor:rgba(38, 38, 38, 0.8);
  --monogramPlaceholderColor:#5a5a5a;
  --listItemAddDownloadBG:rgba(255, 255, 255, 0.55);
  --listItemProgressBG:rgba(255, 255, 255, 0.25);
  --radiosityShadowColor:rgba(0, 0, 0, 0.3);
  --dialogShadowColor:rgba(0, 0, 0, 0.55);
  --contextMenuBorderColor:rgba(255, 255, 255, 0.1);
  --contextMenuTextColor:rgba(255, 255, 255, 0.85);
  --footerBG:#323232;
  --frostedFallbackHover:rgba(152, 152, 157, 0.8);
  --iPhoneNowPlayingBackdropBG:#dbccc4;
  --searchBorder:rgba(255, 255, 255, 0.15);
  --searchIconDropShadow:rgba(0, 0, 0, 0.25);
  --searchHintsBG:rgba(44, 46, 48, 0.9);
  --searchHintsBGHover:rgba(45, 47, 50, 0.9);
  --sidebar:rgba(235, 235, 245, 0.03);
  --sidebar-default_IC:#282828;
  --sidebarBorderRule:rgba(255, 255, 255, 0.1);
  --sidebarSelectedState:rgba(235, 235, 245, 0.1);
  --sidebarNativeUpsellBackgroundFallback:rgba(60, 60, 67, 0.95);
  --webNavigationMobileBg:#2e2e2e;
  --playerScrubberPlayhead:#7c7c7c;
  --playerScrubberFill:rgba(255, 255, 255, 0.6);
  --playerScrubberTrack:rgba(255, 255, 255, 0.1);
  --playerBackgroundFallback:rgba(45, 45, 45, 0.97);
  --playerBackgroundFallback-default_IC:#282828;
  --playerBackground:rgba(45, 45, 45, 0.88);
  --playerBackground-default_IC:#282828;
  --playerGradientTop:transparent;
  --playerGradientBottom:transparent;
  --playerLCDLogo:rgba(255, 255, 255, 0.55);
  --playerLCDBGFill:#4d4d4d;
  --playerLCDBGFill-rgb:77,77,77;
  --playerLCDBGOuterStroke:rgba(0, 0, 0, 0.2);
  --playerArtworkKeyline:rgba(255, 255, 255, 0.1);
  --playerVolumePlayhead:#2c2c2c;
  --playerVolumePlayheadActive:#413e40;
  --playerVolumeFill:rgba(255, 255, 255, 0.6);
  --playerVolumeTrack:rgba(255, 255, 255, 0.15);
  --playerVolumeIconFill:rgba(255, 255, 255, 0.4);
  --trackBackgroundEven:rgba(255, 255, 255, 0.05);
  --trackHoverColor:rgba(0, 0, 0, 0.37);
  --playerPlatterButtonBGFill:white;
  --playerPlatterButtonIconFill:rgba(0, 0, 0, 0.7);
  --librarySongsTrackInactiveBG:rgba(255, 255, 240, 0.12);
  --searchScopeDeselectedGradientTop:#595a5c;
  --searchScopeDeselectedGradientBottom:#565759;
  --searchScopeSelectedBGFill:#aeaeb2;
  --searchScopeSelectedTextColor:#4c4c4c;
  --searchBoxIconFill:rgba(255, 255, 255, 0.9);
  --segmentedControlBG:rgba(118, 118, 128, 0.24);
  --segmentedControlSelectedBG:#636366;
  --segmentedControlSelectedShadow1:transparent;
  --segmentedControlSelectedShadow2:transparent;
  --searchBarBorderColor:rgba(0, 0, 0, 0.15)
 }
