<div class="app-navigation" v-cloak>
    <transition name="sidebartransition">
        <%- include("sidebar") %>
    </transition>
    <%- include("app-content") %>
    <transition name="drawertransition">
        <div class="app-drawer"
             v-if="drawer.open && drawer.panel == 'lyrics' && lyrics && lyrics != [] && lyrics.length > 0">
            <div class="bgArtworkMaterial">
                <div class="bg-artwork-container">
                    <img v-if="(cfg.visual.bg_artwork_rotation && animateBackground)" class="bg-artwork a" :src="$store.state.artwork.playerLCD">
                    <img v-if="(cfg.visual.bg_artwork_rotation && animateBackground)" class="bg-artwork b" :src="$store.state.artwork.playerLCD">
                    <img v-if="!(cfg.visual.bg_artwork_rotation && animateBackground)" class="bg-artwork no-animation" :src="$store.state.artwork.playerLCD">
                </div>
            </div>
            <lyrics-view v-if="drawer.panel == 'lyrics'" :time="lyriccurrenttime" :lyrics="lyrics"
                         :richlyrics="richlyrics"></lyrics-view>
            <div v-if="drawer.panel == 'lyrics'" class="lyric-footer">
                <button class="md-btn" @click="modularUITest(!fullscreenLyrics)">{{fullscreenLyrics ?
                    $root.getLz('term.defaultView'): $root.getLz('term.fullscreenView')}}
                </button>
            </div>
        </div>
    </transition>
    <transition name="drawertransition">
        <div class="app-drawer" v-if="drawer.open && drawer.panel == 'queue'">
            <cider-queue ref="queue" v-if="drawer.panel == 'queue'"></cider-queue>
        </div>
    </transition>
</div>
