<cider-menu-panel v-if="menuPanel.visible">
</cider-menu-panel>
<transition name="wpfade">
    <div class="bg-artwork-container" v-if="cfg.visual.window_background_style == 'artwork'"
         :class="{noanimation: (!cfg.visual.bg_artwork_rotation || !animateBackground)}">
        <img @load="chrome.artworkReady = true" class="bg-artwork a ">
        <img class="bg-artwork b">
    </div>
</transition>
<transition name="wpfade">
    <div class="bg-artwork--placeholder"></div>
</transition>
<transition name="modal">
    <add-to-playlist :playlists="playlists.listing" v-if="modals.addToPlaylist"></add-to-playlist>
</transition>
<transition name="modal">
    <spatial-properties v-if="modals.spatialProperties"></spatial-properties>
</transition>
<transition name="modal">
    <audio-controls v-if="modals.audioControls"></audio-controls>
</transition>
<transition name="modal">
    <audio-playbackrate v-if="modals.audioPlaybackRate"></audio-playbackrate>
</transition>
<transition name="modal">
    <audio-settings v-if="modals.audioSettings"></audio-settings>
</transition>
<transition name="modal">
    <castmenu v-if="modals.castMenu"></castmenu>
</transition>
<transition name="modal">
    <airplay-modal v-if="modals.airplayPW"></airplay-modal>
</transition>
<transition name="modal">
    <plugin-menu v-if="modals.pluginMenu"></plugin-menu>
</transition>
<transition name="modal">
    <eq-view v-if="modals.equalizer"></eq-view>
</transition>
<transition name="modal">
    <qrcode-modal v-if="modals.qrcode" :src="webremoteqr" :url="webremoteurl"></qrcode-modal>
</transition>
<transition name="modal">
    <moreinfo-modal v-if="modals.moreInfo" :data="moreinfodata"></moreinfo-modal>
</transition>
<div id="apple-music-video-container">
    <div id="apple-music-video-player-controls">
        <div id="player-exit" title="Close" @click="exitMV()">
            <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                 aria-role="presentation" focusable="false">
                <path
                        d="M10.5 21C4.724 21 0 16.275 0 10.5S4.724 0 10.5 0 21 4.725 21 10.5 16.276 21 10.5 21zm-3.543-5.967a.96.96 0 00.693-.295l2.837-2.842 2.85 2.842c.167.167.41.295.693.295.552 0 1.001-.461 1.001-1.012 0-.281-.115-.512-.295-.704L11.899 10.5l2.85-2.855a.875.875 0 00.295-.68c0-.55-.45-.998-1.001-.998a.871.871 0 00-.668.295l-2.888 2.855-2.862-2.843a.891.891 0 00-.668-.281.99.99 0 00-1.001.986c0 .269.116.512.295.678L9.088 10.5l-2.837 2.843a.926.926 0 00-.295.678c0 .551.45 1.012 1.001 1.012z"
                        fill-rule="nonzero"/>
            </svg>
        </div>
        <div id="captions" v-if="lyricon">{{((lyricon) ? ((lyrics.length > 0 && lyrics[currentLyricsLine] &&
            lyrics[currentLyricsLine].line ) ?
            lyrics[currentLyricsLine].line.replace('lrcInstrumental','') : "") : '') + ((lyricon) ?
            ((lyrics.length
            > 0 && lyrics[currentLyricsLine] && lyrics[currentLyricsLine].line ) ?
            (lyrics[currentLyricsLine].translation ? ('\n\r' + lyrics[currentLyricsLine].translation) : ""): "")
            :
            '')}}
        </div>
        <div id="player-pip"
             @click="document.querySelector('video#apple-music-video-player').requestPictureInPicture()"
             title="Picture-in-Picture">
            <%- include("../svg/pip.svg") %>
        </div>
        <div id="player-fullscreen"
             @click="document.querySelector('video#apple-music-video-player').requestFullscreen()"
             title="Fullscreen">
            <%- include("../svg/fullscreen.svg") %>
        </div>
    </div>
    <div id="apple-music-video-player"></div>
</div>
