{
  "printWidth": 600,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "src/renderer/main/**/*.js",
      "options": {
        "singleAttributePerLine": false
      }
    }
  ]
}
