<script type="text/x-template" id="hello-world">
    <div class="content-inner">

    </div>
</script>

<script>
    Vue.component('library-songs', {
        template: '#library-songs',
        methods: {
            sayHello: function () {
                alert('Hello world!');
            }
        }
    });
</script>