@media only screen and (min-width: 484px) {
    .web-chrome::before {
        display: none !important;
    }
}

.web-nav-window-controls-outer {
    width: 100%;
    height: 55px;
    -webkit-app-region: no-drag;
    background-color: transparent !important;
    -webkit-user-select: none;
    padding-left: 2px;
    padding-top: 2px;
}

.web-nav-window-controls {
    -webkit-app-region: drag;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px 0 0 10px;
}

.web-nav-window-controls #close { /*Red*/
    height: 12px;
    width: 12px;
    background-color: rgb(255, 92, 92);
    border-radius: 50%;
    display: inline-block;
    margin: auto 4px auto 10px;
    -webkit-app-region: no-drag;
}

.web-nav-window-controls #minimize { /*Yellow*/
    height: 12px;
    width: 12px;
    background-color: rgb(255, 189, 76);
    border-radius: 50%;
    display: inline-block;
    margin: auto 4px;
    -webkit-app-region: no-drag;
}

.web-nav-window-controls #maximize { /*Green*/
    height: 12px;
    width: 12px;
    background-color: rgb(0, 202, 86);
    border-radius: 50%;
    display: inline-block;
    margin: auto 4px;
    color: rgb(130, 0, 5);
    -webkit-app-region: no-drag;
}

.web-nav-window-controls #close:hover,
.web-nav-window-controls #minimize:hover,
.web-nav-window-controls #maximize:hover {
    filter: brightness(40%);
}

@media only screen and (prefers-color-scheme: dark) and (min-width: 485px) {
    #web-navigation-search-box {
        box-shadow: 0 1px 0 rgba(0,0,0,.05),0 1px 3px var(--playerDropShadow2),inset 0 -.5px 0 var(--playerInnerShadow);
    }
}

@media only screen and (max-width: 485px) {
    .web-nav-window-controls #maximize {
        margin-right: 10px;
        right: 0;
    }
    .web-nav-window-controls {
        padding: 0 !important;
        height: auto !important;
        width: auto !important;
        right: 0 !important;
        position: fixed !important;
        top: auto !important;
        margin-top: 10px !important;
    }

    .web-nav-window-controls-outer {
        width: calc(100% - 50px) !important;
        height: 44px !important;
        position: fixed !important;
        right: 0 !important;
        -webkit-app-region: drag !important;
    }
}