Major thanks to the Cider Development Team and all of our contributors.

<p>"Apple Music" - Copyright © 2021 <a href="https://www.apple.com/" class="dt-footer__link"
                                       target="_blank"
                                       rel="noopener" data-dt-link-to-exclude="">Apple Inc.</a>
    All Rights
    Reserved.</p>

cryptofyre - Developer - https://github.com/cryptofyre
Core - Developer - https://github.com/coredev-uk
Quacksire - Developer - https://github.com/child-duckling
booploops - Developer - https://github.com/booploops
vapormusic - Developer - https://github.com/vapormusic
Void - Social Communications Team - https://twitter.com/MoonyVoid
NoseySG - Social Communications Team - https://twitter.com/noah_grose

<img class="md-contributors"
     onclick="window.open('https://github.com/ciderapp/Cider/graphs/contributors')"
     src="https://contrib.rocks/image?repo=ciderapp/Cider"/>