<script type="text/x-template" id="cider-artist">
    <div class="content-inner artist-page">
        <div class="artist-header" :style="getArtistPalette(data)">
            <animatedartwork-view
                    v-if="data.attributes.editorialVideo && (data.attributes.editorialVideo.motionArtistWide16x9 || data.attributes.editorialVideo.motionArtistFullscreen16x9)"
                    :video="data.attributes.editorialVideo.motionArtistWide16x9.video ?? (data.attributes.editorialVideo.motionArtistFullscreen16x9.video ?? '')">
            </animatedartwork-view>
            <div class="row">
                <div class="col-sm" style="width: auto;">
                    <div class="artist-image">
                        <mediaitem-artwork
                                :url="data.attributes.artwork ? data.attributes.artwork.url : ''"
                                size="220" type="artists"></mediaitem-artwork>
                    </div>
                </div>
                <div class="col flex-center">
                    <h1>{{ data.attributes.name }}</h1>
                </div>
            </div>
        </div>
        <div class="artist-body">
            <div class="row well">
                <div class="col">
                    <div class="row">
                        <div class="col-auto" v-if="data.views['latest-release'].data.length != 0">
                            <h3>Latest Release</h3>
                            <div style="width: auto;margin: 0 auto;">
                                <mediaitem-square-sp v-for="song in data.views['latest-release'].data"
                                                     :item="song">
                                </mediaitem-square-sp>
                            </div>
                        </div>
                        <div class="col" v-if="data.views['top-songs']">
                            <h3>Top Songs</h3>
                            <mediaitem-list-item
                                    v-for="song in data.views['top-songs'].data.limit(topSongsExpanded ? 10 : 5)"
                                    :item="song"></mediaitem-list-item>
                            <button class="showmoreless"
                                    @click="topSongsExpanded = !topSongsExpanded">
                                <template v-if="!topSongsExpanded">
                                    Show more
                                </template>
                                <template v-else>
                                    Show less
                                </template>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row well">
                <div class="col">
                    <template v-for="(view) in data.meta.views.order"
                              v-if="(data.views[view].data.length != 0) && (view != 'latest-release') && (view != 'top-songs')">
                        <div class="row">
                            <div class="col">
                                <h3>{{ data.views[view].attributes.title ?
                                    data.views[view].attributes.title : "???"}}
                                </h3>
                            </div>
                            <div class="col-auto flex-center" v-if="data.views[view].data.length >= 10">
                                <button class="cd-btn-seeall">See All</button>
                            </div>
                        </div>
                        <mediaitem-scroller-horizontal-large :items="data.views[view].data.limit(10)">
                        </mediaitem-scroller-horizontal-large>
                    </template>
                    <div class="row">
                        <div class="col" v-if="data.attributes.artistBio">
                            <h3>About {{ data.attributes.name }}</h3>
                            <p v-html="data.attributes.artistBio"></p>
                        </div>
                        <div class="col">
                            <div v-if="data.attributes.origin">
                                <h3>{{ data.attributes.isGroup ? "Origin" : "Hometown" }}</h3>
                                {{ data.attributes.origin }}
                            </div>
                            <div v-if="data.attributes.bornOrFormed">
                                <h3>{{ data.attributes.isGroup ? "Born" : "Formed" }}</h3>
                                {{ data.attributes.bornOrFormed }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.component('cider-artist', {
        template: "#cider-artist",
        props: ['data'],
        data: function () {
            return {
                topSongsExpanded: false
            }
        },
        methods: {
            getArtistPalette(artist) {
                if (artist["attributes"]["artwork"]) {
                    return {
                        "background": "#" + artist["attributes"]["artwork"]["bgColor"],
                        "color": "#" + artist["attributes"]["artwork"]["textColor1"],
                    }
                } else {
                    return {
                        "background": "#000000",
                        "color": "#ffffff",
                    }
                }
            },
            getTopResult() {
                if (this.search.results["meta"]) {
                    return this.search.results[this.search.results.meta.results.order[0]]["data"][0]
                } else {
                    return false;
                }
            }
        }
    })
</script>