<script type="text/x-template" id="collection-list">
    <div class="content-inner">

    </div>
</script>
<script>
    Vue.component('cider-collection-list', {
        template: "#cider-collection-list",
        props: ["data"],
        data: function () {
            return {

            }
        },
        methods: {

        }
    })
</script>