:root {
    --appleEase: cubic-bezier(0.42, 0, 0.58, 1);
    --panel-width: 300px;
}

body {
    background: black;
}

.appleSidebar {
    width: var(--panelWidth);
    animation: 3s lyricsSlideOut forwards;

}

@keyframes lyricsSlideOut {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

#backgroundImage {
    width: 100%;
    height: 100%;
    filter: blur(16px) saturate(180%);
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
    position: absolute;
}


#albumart{
    z-index: 2;
    border-radius: 6px;
    top: 10%;
    right: 55%;
    width: 36%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
    position: absolute;
}

#title{
    font-family: "SF Pro", "M PLUS 1p", "Hiragino Sans GB W6", Tahoma, Arial, sans-serif;
    color: whitesmoke;
    z-index: 2;
    top: 10vh + 40vw;
    right: 58%;
    width: 30%;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
}

#details{
    font-family: "SF Pro", "M PLUS 1p", "Hiragino Sans GB W6", Tahoma, Arial, sans-serif;
    color: whitesmoke;
    z-index: 2;
    top: 10vh + 60vw;
    right: 58%;
    width: 30%;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
}

#lyricer {
    z-index: 2;
    top: 30%;
    width: 40%;
    font-weight: 700;
    font-family: "SF Pro", "M PLUS 1p", "Hiragino Sans GB W6", Tahoma, Arial, sans-serif;
    text-shadow: rgb(238, 238, 238) 0 0 1px;
    color: rgb(102, 102, 102);
    overflow: hidden scroll;
    z-index: 2;
    position: absolute;
    right: 0;
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    height: 70%;
    --lyricBlur: 1px;
    font-size: 4rem;
    -webkit-mask-image: -webkit-gradient(linear, left 95%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    transition: all 1s var(--appleEase) !important;
}
#lyricer:hover {
    --lyricBlur: 0px;
}
#lyricer>ul li:not(.lyricer-current-line) {
    filter: blur(var(--lyricBlur));
}

#lyricer::-webkit-scrollbar {
    display: none;
}

#lyricer ul {
    list-style-type: none;
    padding: 10px;
}

#lyricer ul li {
    opacity: 0.9;
    color: var(--systemQuaternary);
    transform: scale(0.85);
    transform-origin:left center;
    margin-bottom:14px;
    -webkit-backface-visibility: hidden;
    overflow:visible;
    transition: all .25s var(--appleEase) !important;
}

#lyricer ul li:hover::after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transform: scale(1.06);
    background: rgb(200 200 200 / 10%);
    pointer-events: none;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
}

#lyricer .lyricer-current-line {
    color: whitesmoke;
    /* text-shadow: rgb(169, 169, 169) 1.5px 1.5px 1.5px; */
    opacity: 1;
    font-weight: 700;
    transform: scale(1)!important;
    transform-origin:left center;
    filter: blur(0px)!important;
    transition: all .25s var(--appleEase) !important;
}

#lyricer ul li .lyrics-translation {
    font-size: 1.3rem;
    font-weight: 300;
}

.lyricWaiting {
    margin-top:8px;
    display: none;
}

.lyricer-current-line .lyricWaiting {
    display: inline-flex;
    animation: lyricWaitingLine 6s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}


.lyricWaiting > div {
    width: 10px;
    height: 10px;
    background: var(--systemPrimary);
    border-radius: 50%;
    margin: 3px;
}

@keyframes lyricWaitingLine {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.85);
    }
}