/* Modern style overlay scrollbars */
::-webkit-scrollbar {
    width: 16px;
    height: 24px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border: 6px solid transparent;
    box-shadow: inset 0px 0px 10px 10px rgb(200 200 200 / 50%);
    border-radius: 16px;
    min-height: 64px;
    transition: border 1s;
}

::-webkit-scrollbar-thumb:hover {
    border: 5px solid transparent;
    box-shadow: inset 0px 0px 10px 10px rgb(200 200 200 / 80%);
}