/* Dracula theme by zenorocha
 * converted by floookay
 * fixed up a bit by cryptofyre
 * 
 * Background   #282a36
 * Current Line #44475a
 * Foreground   #f8f8f2
 * Comment      #6272a4
 * Cyan         #8be9fd
 * Green        #50fa7b
 * Orange       #ffb86c
 * Pink         #ff79c6
 * Purple       #bd93f9
 * Red          #ff5555
 * Yellow       #f1fa8c
*/

@media (prefers-color-scheme:dark) {
    :root {
        --primaryColor: #bd93f9 !important;
        --sidebar: #21222c !important;
        --transparency: #21222c18 !important;
        --footerBG: #44475a !important;
        --pageBG: #282a36 !important;
        --playerBackground: #21222c !important;
        --playerLCDBGFill: #44475a !important;
        --playerVolumeIconFill: #6272a4 !important;
        --systemGreen: #50fa7b !important;
        --systemRed: #ff5555 !important;
        --lovedBGColor: #ff79c6 !important;

        --modalBGColor: #282a36 !important;
        --systemHeaderMaterialSover: #282a36 !important;
        --systemPrimary: #f8f8f2 !important;
        --systemSecondary: #6272a4 !important;
        --systemQuaternary: #44475a !important;
        --selectionColor: #bd93f9 !important;

        --systemHeaderMaterialSoverIncreaseContrast: #282a36 !important;
        --segmentedControlSelectedBG: #44475a !important;
        --modalBGHeaderColor: #21222c !important;
        --tracklistHoverColor: #44475a !important;
        --sidebarSelectedState: #44475a !important;

        --playerPlatterButtonBGFill: #bd93f9 !important;
        --playerPlatterButtonIconFill: #f8f8f2 !important;
    }
}
