/**
 * @name Spotify
 * @author devilAPI#0361 (Upgraded by Core#1034)
 * @description Spotify Theme
*/

@media (prefers-color-scheme:dark) {
  :root {
      /* accent colors */
      --keyColor: #1DB954 !important;
      --keyColor-rgb: 30, 215, 96 !important;
      --systemAccentBG: #1DB954 !important;
      --systemAccentBG-pressed: #15853c !important;
      --selectionColor: #1DB954 !important;

      /* main colors */
      --transparency: #0c0c0c57 !important;
      --sidebar: #000000 !important;
      --footerBG: #121212 !important;
      --pageBG: #121212 !important;

      /* search bar */
      --systemHeaderMaterialSover-default_IC: #121212 !important;
      --systemHeaderMaterialSover: #121212 !important;

      /* web-chrome */
      --playerBackground: #121212 !important;
      --playerLCDBGFill: #121212 !important;

      /* up-next */
      --systemToolbarTitlebarMaterialSover-inactive: #121212 !important;
      --systemToolbarTitlebarMaterialSover: rgba(25, 20, 20, 0.8) !important;
  }
}