<div id="eq-vm">
    <div class="md-container md-container_panel">
        <div class="md-header-title md-transparent" style="border:0px;">
            <div class="row">
                <div class="col">
                    <button @click="close()" class="md-close-btn"></button>
                </div>
                <div class="col-auto">
                    Equalizer
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="md-body" style="padding:0px;">
            <div class="md-option-container" style="border-radius: 0px;">
                <div class="md-option-line md-transparent">
                    <div class="md-option-segment">Bass ({{ bass }})</div>
                    <div class="md-option-segment_auto">
                        <input type="range" class="md-slider" min="-6" step="0.01" max="6" v-model="bass"
                               @input="bassFilter.gain.value = bass"/>
                    </div>
                </div>
                <div class="md-option-line md-transparent">
                    <div class="md-option-segment">Treble ({{ treble }})</div>
                    <div class="md-option-segment_auto">
                        <input type="range" class="md-slider" min="-6" step="0.01" max="6" v-model="treble"
                               @input="trebleFilter.gain.value = treble"/>
                    </div>
                </div>
                <div class="md-option-line md-transparent">
                    <div class="md-option-segment">Gain ({{ gain }})</div>
                    <div class="md-option-segment_auto">
                        <input type="range" class="md-slider" min="-1" step="0.01" max="1" v-model="gain"
                               @input="AMEx.result.gain.gain.value = gain"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-footer">
            <button class="md-btn" style="width:100%;padding:4px;font-size:13px;" @click="reset()">Reset</button>
        </div>
    </div>
</div>