<div class="md-container md-container_panel" id="themeOptions-vue">
    <div class="md-header-title">
        <div class="row">
            <div class="col">
                <button @click="close()" class="md-close-btn"></button>
            </div>
            <div class="col-auto">
                {{ theme }}
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="md-body" style="overflow-y: overlay">
        <div class="md-option-container">
            <div class="md-option-line" v-for="(option) in options">
                <div class="md-option-segment">
                    {{ option.name }}
                </div>
                <div class="md-option-segment md-option-segment_auto">
                    <input type="checkbox" v-model="userOptions[option.key]" @change="saveOptions()" switch/>
                </div>
            </div>
        </div>
    </div>
    <div class="md-footer">
    </div>
</div>