<template v-if="page == 'zoo'">
    <div class="content-inner">
        <h3>Welcome to element park. *BERR NERR NERR NERR NERRRRR BERR NER NER NER NERRR BERRR NR NR NRRRR*</h3>
        <div tabindex="0" class="cd-mediaitem-video">
            <div class="artwork">
                <mediaitem-artwork
                        url="https://is1-ssl.mzstatic.com/image/thumb/Video115/v4/00/8b/eb/008beb79-fc95-a24f-eb38-b2cc5a472d4e/8864491155490101.jpg/{w}x{h}mv.{f}"
                        size="300"
                        type="song"></mediaitem-artwork>
            </div>
            <div class="title text-overflow-elipsis">
                Name
            </div>
            <div class="subtitle text-overflow-elipsis">
                Artist Name
            </div>
        </div>
    </div>
</template>
