<template v-if="page == 'zoo'">
    <div class="content-inner">
        <h3>Welcome to element park. *BERR NERR NERR NERR NERRRRR BERR NER NER NER NERRR BERRR NR NR NRRRR*</h3>
        <cider-queue ref="queue"></cider-queue>
    </div>
</template>
