<div class="modal-backdrop">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close">&times;</button>
            <h4 class="modal-title" v-html="title"></h4>
        </div>
        <div class="modal-content" v-html="content">

        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>