<script type="text/x-template" id="mediaitem-scroller-horizontal-mvview">
    <template>
        <div class="cd-hmedia-scroller">
            <template v-if="browsesp">
                <mediaitem-mvview-sp :item="item ? (item.attributes.kind ? item: item.relationships.contents.data[0]) : []" :imagesize="imagesize"
                   :badge="item.attributes"                     v-for="item in items"></mediaitem-mvview-sp>
            </template>
            <template v-else>
                <mediaitem-mvview :item="item ? (item.attributes.kind ? item: item.relationships.contents.data[0]) : []" :imagesize="imagesize"
                v-for="item in items"></mediaitem-mvview>
            </template>                            
        </div>
    </template>
</script>


<script>
    Vue.component('mediaitem-scroller-horizontal-mvview', {
        template: '#mediaitem-scroller-horizontal-mvview',
        props: ['items',"imagesize","browsesp"],
        methods: {}
    });
</script>