<script type="text/x-template" id="artist-chip">
    <div class="artist-chip" @click.self="route">
        <div class="artist-chip__image">
            <mediaitem-artwork v-if="artist != null" :url="artist.attributes.artwork.url" :size="32"></mediaitem-artwork>
        </div>
        <div class="artist-chip__name">
            <span>{{ item.attributes.name }}</span>
        </div>
        <button @click="$root.followArtistById(item.id, true)" title="Follow" v-if="!$root.followingArtist(item.id)" class="artist-chip__follow codicon codicon-add"></button>
        <button @click="$root.followArtistById(item.id, false)" title="Following" v-else class="artist-chip__follow codicon codicon-check"></button>
    </div>
</script>

<script>
    Vue.component('artist-chip', {
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        data: function() {
            return {
                artist: null
            }
        },
        template: '#artist-chip',
        async mounted() {
            app.mk.api.v3.music(`/v1/catalog/${app.mk.storefrontId}/artists/${this.item.id}`).then(response => {
                this.artist = response.data.data[0];
            });
        },
        methods: {
            route() {
               app.appRoute(`artist/${this.item.id}`);
            }
        }
    });
</script>