<script type="text/x-template" id="artist-chip">
    <div class="artist-chip" @click.self="route">
        <div class="artist-chip__image">
            <mediaitem-artwork v-if="artist.id != null" :url="artistimage" :size="32"></mediaitem-artwork>
        </div>
        <div class="artist-chip__name">
            <span>{{ item.attributes.name }}</span>
        </div>
        <button @click="$root.followArtistById(artist.id, true)" title="Follow" v-if="!$root.followingArtist(artist.id)" class="artist-chip__follow codicon codicon-add"></button>
        <button @click="$root.followArtistById(artist.id, false)" title="Following" v-else class="artist-chip__follow codicon codicon-check"></button>
    </div>
</script>

<script>
    Vue.component('artist-chip', {
        props: {
            item: {
                type: Object,
                required: true,
            }
        },
        data: function() {
            return {
                artist: {
                    id: null
                },
                artistimage : ''
            }
        },
        template: '#artist-chip',
        async mounted() {
            let artistId = this.item.id           
           
            if(typeof this.item.relationships.catalog == "object") {
                artistId = this.item.relationships.catalog.data[0].id
            }
            app.mk.api.music(`/v1/catalog/${app.mk.storefrontId}/artists/${artistId}`).then(async (response) => {
                this.artist = response.data.data[0];
                if (this.artistimage == '' && artistId != null){
                    this.artistimage = (await this.$root.loadArtistImage(artistId) ?? '').replace('300x300','50x50')
                    
                }
            });
        },
        methods: {
            route() {
               app.appRoute(`artist/${this.artist.id}`);
            }
        }
    });
</script>