<script type="text/x-template" id="artwork-material">
    <div class="artworkMaterial">
        <img :src="src"/>
        <img :src="src"/>
    </div>
</script>

<script>
    Vue.component('artwork-material', {
        template: '#artwork-material',
        data: function () {
            return {
                src: ""
            }
        },
        mounted() {
            this.src = app.getMediaItemArtwork(this.url, this.size)
        },
        props: {
            url: {
                type: String,
                required: true
            },
            size: {
                type: [String, Number],
                required: false,
                default: '32'
            }
        },
        methods: {
        }
    });
</script>