<script type="text/x-template" id="audio-playbackrate">
    <div class="modal-fullscreen addtoplaylist-panel" @click.self="app.resetState()"
         @contextmenu.self="app.resetState()">
        <div class="modal-window">
            <div class="modal-header">
                <div class="modal-title">{{app.getLz('term.audioPlaybackRate')}}</div>
                <button class="close-btn" @click="app.resetState()"></button>
            </div>
            <div class="modal-content">
                <div class="md-option-line">
                    <div class="md-option-segment">
                        {{app.getLz('term.playbackRate')}}
                    </div>
                    <div class="md-option-segment md-option-segment_auto percent">
                        <input type="number"
                               style="width: 100%; text-align: center; margin-right: 5px;" min="0.25" max="2"
                               step="0.25" v-model="playbackRate"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
	Vue.component('audio-playbackrate', {
		template: '#audio-playbackrate',
		data: function () {
			return {
				app: this.$root,
				playbackRate: this.$root.cfg.audio.playbackRate
			}
		},
		watch: {
			playbackRate: function (newValue, _oldValue) {
				this.$root.mk.playbackRate = newValue
				this.playbackRate = newValue
				console.log(newValue, _oldValue)
			}
		}
	});
</script>