<script type="text/x-template" id="eq-view">
    <div class="modal-fullscreen equalizer-panel">
        <div class="modal-window" >
            <div class="modal-header">
                <div class="modal-title">{{$root.getLz('term.equalizer')}}</div>
                <button class="close-btn" @click="close()"></button>
            </div>
            <div class="modal-content">
                <!-- BANDS = [60, 170, 310, 600, 1000, 3000, 6000, 12000, 14000, 16000]; -->
                <div class="inputs-container">
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['60']}}
                        <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['60']" @change="changeGain('60')">
                        60
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['170']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['170']" @change="changeGain('170')">
                        170
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['310']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['310']" @change="changeGain('310')">
                        310
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['600']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['600']" @change="changeGain('600')">
                        600
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['1000']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['1000']" @change="changeGain('1000')">
                        1000
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['3000']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['3000']" @change="changeGain('3000')">
                        3000
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['6000']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['6000']" @change="changeGain('6000')">
                        6000
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['12000']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['12000']" @change="changeGain('12000')">
                        12000
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['14000']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['14000']" @change="changeGain('14000')">
                        14000
                    </div>
                    <div class="input-container">
                        {{app.cfg.audio.equalizer['16000']}}
                    <input type="range" class="eq-slider" orient="vertical" min="-12" max="12" step="0.1" v-model="app.cfg.audio.equalizer['16000']" @change="changeGain('16000')">
                        16000
                    </div>
                </div>
                </br>
                <div class="reset-button md-btn" @click="resetGain()">{{$root.getLz('term.reset')}}</div>
            </div>    
        </div>
    </div>
</script>

<script>
    Vue.component('eq-view', {
        template: '#eq-view',
        data: function () {
            return {
                app: this.$root,

            }
        },
        props: ["src", "url"],
        mounted() {

        },
        methods: {
            close() {
                app.resetState()
            },
            changeGain(i) {
                CiderAudio.audioNodes.audioBands[i].gain.value = app.cfg.audio.equalizer[i]
            },
            resetGain(){
                this.app.cfg.audio.equalizer =  {
                    '60' : 0, 
                    '170': 0 ,
                    '310': 0 ,
                    '600': 0 , 
                    '1000': 0 , 
                    '3000': 0 , 
                    '6000': 0 , 
                    '12000': 0 , 
                    '14000': 0 ,
                    '16000': 0 ,
                }
                for (var i in this.app.cfg.audio.equalizer){
                    this.changeGain(i)
                }
            }
        }
    });
</script>