<script type="text/x-template" id="mediaitem-scroller-horizontal-large">
    <div class="cd-hmedia-scroller">
        <template >
            <mediaitem-square :item="item" 
                            v-for="item in items"></mediaitem-square>
        </template>                  
    </div>
</script>


<script>
    Vue.component('mediaitem-scroller-horizontal-large', {
        template: '#mediaitem-scroller-horizontal-large',
        props: ['items']
    });
</script>