<script type="text/x-template" id="mediaitem-scroller-horizontal">
    <template>
        <div class="cd-hmedia-scroller">
            <mediaitem-square :item="item"
                              v-for="item in items"></mediaitem-square>
        </div>
    </template>
</script>

<script>
    Vue.component('mediaitem-scroller-horizontal', {
        template: '#mediaitem-scroller-horizontal',
        props: ['items'],
        data: function () {
            return {
                app: this.$root,
            }
        },
        methods: {}
    });
</script>