<script type="text/x-template" id="mediaitem-artwork">
    <template v-if="type == 'artists'">
        <div class="mediaitem-artwork rounded" :key="url" :style="getStyle()">
            <img :src="app.getMediaItemArtwork(url, size)"
                 loading="lazy" decoding="async"
                 class="mediaitem-artwork--img">
        </div>
    </template>
    <template v-else>
        <div class="mediaitem-artwork" :key="url" :style="getStyle()"
             v-observe-visibility="{callback: visibilityChanged}">
            <img :src="app.getMediaItemArtwork(url, size)" v-if="isVisible"
                 loading="lazy" decoding="async"
                 class="mediaitem-artwork--img">
            <div v-if="video && isVisible" class="animatedartwork-view-box">
                <animatedartwork-view  :video="video"></animatedartwork-view>   
            </div>  
        </div>
    </template>
</script>

<script>
    Vue.component('mediaitem-artwork', {
        template: '#mediaitem-artwork',
        props: {
            size: {
                type: String,
                default: '120'
            },
            url: {
                type: String,
                default: ''
            },
            type: {
                type: String,
                default: ''
            },
            video: {
                type: String,
                required: false
            },
            shadow: {
                type: String,
                default: 'none'
            }
        },
        data: function () {
            return {
                isVisible: false,
                style: {
                    "box-shadow": ""
                }
            }
        },
        methods: {
            getStyle() {
                switch(this.shadow) {
                    case "large":
                        this.style["box-shadow"] = "var(--mediaItemShadow-Shadow)"
                    break;
                    case "subtle":
                        this.style["box-shadow"] = "var(--mediaItemShadow-ShadowSubtle)"
                    break;
                    default:
                    break;
                }
                return this.style;
            },
            getArtworkStyle() {
                return {
                    width: this.size + 'px',
                    height: this.size + 'px'
                };
            },
            visibilityChanged: function (isVisible, entry) {
                this.isVisible = isVisible
            }
        }
    });
</script>