<script type="text/x-template" id="plugin-menu">
  <!--template-->
      <div class="modal-fullscreen addtoplaylist-panel" @click.self="app.resetState()" @contextmenu.self="app.resetState()">
          <div class="modal-window">
              <div class="modal-header">
                  <div class="modal-title">{{$root.getLz('term.pluginMenu')}}</div>
                  <button class="close-btn" @click="app.resetState()"></button>
              </div>
              <div class="modal-content">
                <button class="playlist-item" @click="entry.onClick(); closeMenu();" v-for="entry in app.pluginMenuEntries">
                  <span class="icon"><%- include("../svg/grid.svg") %></span>
                  <span class="name" style="top: 1px;">{{ entry.name }}</span>
                </button>
              </div>
          </div>
      </div>
  <!--template-->
</script>

<script>
  Vue.component('plugin-menu', {
      template: '#plugin-menu',
      data: function () {
          return {
              app: this.$root,
          }
      },
      props: {},
      mounted() {},
      methods: {
          closeMenu() {
              app.modals.pluginMenu = false
          },
          },
      }
  );
</script>