<script type="text/x-template" id="radio-child">
    <div>
        <div class="row">
            <div class="col">
                <h3>{{ item.title }}</h3>
            </div>
        </div>
        <mediaitem-square :item="station" v-for="station in item.data"></mediaitem-square>

        <!--        <mediaitem-scroller-horizontal-sp-->
        <!--                :withReason="index==0"-->
        <!--                :items="recom.relationships.contents.data.limit(10)"></mediaitem-scroller-horizontal-sp>-->
    </div>
</script>
<script>
	Vue.component('radio-child', {
		template: "#radio-child",
		props: ["item"],
		data: function () {
			return {
				isVisible: true,
				app: this.$root
			}
		},
		methods: {
			visibilityChanged: function (isVisible, entry) {
				// this.isVisible = isVisible
			},
		}
	})
</script>