<script type="text/x-template" id="spatial-properties">
    <div class="modal-fullscreen spatialproperties-panel">
        <div class="modal-window" v-if="ready">
            <div class="modal-header">
                <div class="modal-title">Spatial Properties</div>
                <button class="close-btn" @click="close()"></button>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col"><h3>Room Dimensions</h3></div>
                </div>
                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="col-3 flex-center">
                                Width
                            </div>
                            <div class="col flex-center">
                                <input type="range" class="md-slider" min="0" max="100" @input="setRoom()" style="width: 100%;"
                                       v-model="room_dimensions.width" step="1"/>
                            </div>
                            <div class="col-3 flex-center">
                                <input type="number" min="0" @input="setRoom()" style="width: 100%;text-align: center"
                                       v-model="room_dimensions.width" step="1"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 flex-center">
                                Height
                            </div>
                            <div class="col flex-center">
                                <input type="range" class="md-slider" min="0" max="100" @input="setRoom()" style="width: 100%;"
                                       v-model="room_dimensions.height" step="1"/>
                            </div>
                            <div class="col-3 flex-center">
                                <input type="number" min="0" @input="setRoom()" style="width: 100%;text-align: center"
                                       v-model="room_dimensions.height" step="1"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 flex-center">
                                Depth
                            </div>
                            <div class="col flex-center">
                                <input type="range" class="md-slider" min="0" max="100" @input="setRoom()" style="width: 100%;"
                                       v-model="room_dimensions.depth" step="1"/>
                            </div>
                            <div class="col-3 flex-center">
                                <input type="number" min="0" @input="setRoom()" style="width: 100%;text-align: center"
                                       v-model="room_dimensions.depth" step="1"/>
                            </div>
                        </div>
                        <label v-if="!app.cfg.audio.normalization">
                            Gain
                            <input type="number" min="0" @input="setRoom()" style="width: 100%;"
                                   v-model="app.cfg.audio.spatial_properties.gain" step="0.1"/>
                        </label>
                    </div>
                    <div class="col visual-container">
                        <div class="visual">
                            <div class="face" :style="[faceStyle()]"></div>
                            <div class="face" :style="[faceStyle(), topFaceStyle()]"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><h3>Room Materials</h3></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col flex-center">
                        <label>
                            Up
                            <select class="md-select" @input="setRoom()"
                                    v-model="app.cfg.audio.spatial_properties.room_materials.up">
                                <option v-for="prop in roomProps" :value="prop">{{ prop }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col flex-center">
                        <label>
                            Left
                            <select class="md-select" @input="setRoom()"
                                    v-model="room_materials.left">
                                <option v-for="prop in roomProps" :value="prop">{{ prop }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col flex-center">
                        <label>
                            Front
                            <select class="md-select" @input="setRoom()"
                                    v-model="room_materials.front">
                                <option v-for="prop in roomProps" :value="prop">{{ prop }}</option>
                            </select>
                        </label>
                        <label>
                            Back
                            <select class="md-select" @input="setRoom()"
                                    v-model="room_materials.back">
                                <option v-for="prop in roomProps" :value="prop">{{ prop }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col flex-center">
                        <label>
                            Right
                            <select class="md-select" @input="setRoom()"
                                    v-model="room_materials.right">
                                <option v-for="prop in roomProps" :value="prop">{{ prop }}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col flex-center">
                        <label>
                            Down
                            <select class="md-select" @input="setRoom()"
                                    v-model="room_materials.down">
                                <option v-for="prop in roomProps" :value="prop">{{ prop }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component('spatial-properties', {
        template: '#spatial-properties',
        data: function () {
            return {
                app: this.$root,
                room_dimensions: null,
                room_materials: null,
                roomProps: [
                    'transparent',
                    'acoustic-ceiling-tiles',
                    'brick-bare',
                    'brick-painted',
                    'concrete-block-coarse',
                    'concrete-block-painted',
                    'curtain-heavy',
                    'fiber-glass-insulation',
                    'glass-thin',
                    'glass-thick',
                    'grass',
                    'linoleum-on-concrete',
                    'marble',
                    'metal',
                    'parquet-on-concrete',
                    'plaster-smooth',
                    'plywood-panel',
                    'polished-concrete-or-tile',
                    'sheetrock',
                    'water-or-ice-surface',
                    'wood-ceiling',
                    'wood-panel',
                    'uniform'
                ],
                visualMultiplier: 4,
                ready: false
            }
        },
        props: {},
        mounted() {
            if(typeof this.app.mk.nowPlayingItem != "undefined") {
                this.setRoom()
            }
            this.room_dimensions = JSON.parse(JSON.stringify(this.$root.cfg.audio.spatial_properties.room_dimensions))
            this.room_materials = JSON.parse(JSON.stringify(this.$root.cfg.audio.spatial_properties.room_materials))
            this.ready = true
        },
        methods: {
            topFaceStyle() {
                let style = {
                    transform: `rotateX(60deg) rotateZ(-45deg) translateZ(${this.room_dimensions.height * this.visualMultiplier}px)`
                }
                return style
            },
            faceStyle() {
                let style = {
                    width: `${this.room_dimensions.width * this.visualMultiplier}px`,
                    height: `${this.room_dimensions.depth * this.visualMultiplier}px`,
                }
                return style
            },
            close() {
                this.$root.cfg.audio.spatial_properties.room_dimensions = this.room_dimensions
                this.$root.cfg.audio.spatial_properties.room_materials = this.room_materials
                app.resetState()
            },
            setRoom() {
                window.CiderAudio.audioNodes.spatialNode.setRoomProperties(this.room_dimensions, this.room_materials);
                if(!this.app.cfg.audio.normalization) {
                    window.CiderAudio.audioNodes.gainNode.gain.value = app.cfg.audio.spatial_properties.gain
                }
            }
        }
    });
</script>