<script type="text/x-template" id="audiolabs-page">
    <div class="content-inner settings-page">
        <div class="md-option-container">  
            <div class="md-option-header">
                <span>Cider Audio Laboratory</span>
            </div>
            <div class="settings-option-body">       
                <div class="md-option-line" v-show="!app.cfg.advanced.AudioContext">
                    <div class="md-option-segment">
                        AudioContext (Advanced Functionality) is required to enable Cider Audio Laboratory.
                    </div>
                    <button class="md-btn" style="margin-top: 5px;" onclick="app.appRoute('settings')">
                        Settings
                    </button>
                </div>    
            <div class="md-option-line" v-show="app.cfg.advanced.AudioContext">
                <div class="md-option-segment">
                    {{$root.getLz('settings.option.audio.enableAdvancedFunctionality.ciderPPE')}}
                    <br>
                    <small>{{$root.getLz('settings.option.audio.enableAdvancedFunctionality.ciderPPE.description')}}</small>
                </div>
                <div class="md-option-segment md-option-segment_auto">
                    <input type="checkbox" v-model="app.cfg.audio.maikiwiAudio.ciderPPE"  v-on:change="CiderAudio.hierarchical_loading();" switch/>
                </div>
            </div>
            <div class="md-option-line" v-show="app.cfg.advanced.AudioContext && app.cfg.audio.maikiwiAudio.ciderPPE === true">
                <div class="md-option-segment">
                    {{$root.getLz('settings.option.audio.enableAdvancedFunctionality.ciderPPEStrength')}}
                    <br>
                    <small>{{$root.getLz('settings.option.audio.enableAdvancedFunctionality.ciderPPEStrength.description')}}</small>
                </div>
                <div class="md-option-segment md-option-segment_auto">
                    <button class="md-btn" :disabled="app.cfg.audio.maikiwiAudio.ciderPPE_value === 0.5" v-model="app.cfg.audio.maikiwiAudio.ciderPPE_value" onclick="app.cfg.audio.maikiwiAudio.ciderPPE_value = 0.5; CiderAudio.hierarchical_loading();">
                        {{$root.getLz('settings.option.audio.enableAdvancedFunctionality.ciderPPEStrength.standard')}}
                    </button>
                    <button class="md-btn" style="margin-top: 5px;" :disabled="app.cfg.audio.maikiwiAudio.ciderPPE_value === 0.55" v-model="app.cfg.audio.maikiwiAudio.ciderPPE_value" onclick="app.cfg.audio.maikiwiAudio.ciderPPE_value = 0.55; CiderAudio.hierarchical_loading();">
                        {{$root.getLz('settings.option.audio.enableAdvancedFunctionality.ciderPPEStrength.aggressive')}}
                    </button>
                </div>
            </div>
            <div class="md-option-line" v-show="app.cfg.advanced.AudioContext">
                <div class="md-option-segment">
                    Analog Warmth
                    <br>
                    <small>Simulates the analog warmth modelled after the Korg Nutube 6P1</small>
                </div>
                <div class="md-option-segment md-option-segment_auto">
                    <input type="checkbox" v-model="app.cfg.audio.maikiwiAudio.analogWarmth"  v-on:change="CiderAudio.hierarchical_loading();" switch/>
                </div>
            </div>
            <div class="md-option-line" v-show="app.cfg.advanced.AudioContext && app.cfg.audio.maikiwiAudio.analogWarmth === true">
                <div class="md-option-segment">
                    Analog Warmth Intensity
                    <br>
                    <small>Changes the intensity of the Analog Warmth Module processing.</small>
                </div>
                <div class="md-option-segment md-option-segment_auto">
                    <button class="md-btn" :disabled="app.cfg.audio.maikiwiAudio.analogWarmth_value === 1.25" v-model="app.cfg.audio.maikiwiAudio.analogWarmth_value" onclick="app.cfg.audio.maikiwiAudio.analogWarmth_value = 1.25; CiderAudio.hierarchical_loading();">
                        Smooth
                    </button>
                    <button class="md-btn" :disabled="app.cfg.audio.maikiwiAudio.analogWarmth_value === 1.75" v-model="app.cfg.audio.maikiwiAudio.analogWarmth_value" onclick="app.cfg.audio.maikiwiAudio.analogWarmth_value = 1.75; CiderAudio.hierarchical_loading();">
                        Warm
                    </button>
                </div>
            </div>
            <div class="md-option-line" v-show="app.cfg.advanced.AudioContext">
                <div class="md-option-segment">
                    {{$root.getLz('settings.option.audio.enableAdvancedFunctionality.audioSpatialization')}}
                    <br>
                    <small>{{$root.getLz('settings.option.audio.enableAdvancedFunctionality.audioSpatialization.description')}}</small>
                </div>
                <div class="md-option-segment md-option-segment_auto">
                    <input type="checkbox" v-model="app.cfg.audio.spatial" v-on:change="toggleSpatial" switch/>
                </div>
            </div>
            <div class="md-option-line" v-show="app.cfg.advanced.AudioContext">
                <div class="md-option-segment">
                    Cider Tuned Spatialization 
                    <br>
                    <small>Pre-tuned Spatializing Effect, disables the customizable settings of Audio Spatialization. Spatialization must be enabled as a prerequisite.</small>
                </div>
                <div class="md-option-segment md-option-segment_auto">
                    <input type="checkbox" v-model="app.cfg.audio.maikiwiAudio.spatial" :disabled="app.cfg.audio.spatial === false" v-on:change="toggleSpatial" switch/>
                </div>
            </div>
            <div class="md-option-line" v-show="app.cfg.audio.maikiwiAudio.spatial">
            <div class="md-option-segment">
                Cider Spatialization Profile
                <br>
                <small>Changes the Tuning Profile of the Spatialization. (Requires App Restart)</small>
            </div>
            <div class="md-option-segment md-option-segment_auto">
                <button class="md-btn" :disabled="app.cfg.audio.maikiwiAudio.spatialType === 0" v-model="app.cfg.audio.maikiwiAudio.spatialType" onclick="app.cfg.audio.maikiwiAudio.spatialType = 0; CiderAudio.hierarchical_loading();">
                    Standard
                </button>
                <button class="md-btn" :disabled="app.cfg.audio.maikiwiAudio.spatialType === 1" v-model="app.cfg.audio.maikiwiAudio.spatialType" onclick="app.cfg.audio.maikiwiAudio.spatialType = 1; CiderAudio.hierarchical_loading();">
                    Audiophile
                </button>
            </div>
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component('audiolabs-page', {
        template: "#audiolabs-page",
        props: [],
        data: function () {
            return {
                app: this.$root,
            }
        },
        mounted: function () {
        },
        methods: {
            toggleSpatial: function () {
                if (app.cfg.audio.spatial) {              
                        CiderAudio.spatialOn()
                        CiderAudio.hierarchical_loading();
                    }
                else {
                    CiderAudio.spatialOff()
                }

            },
        }})
</script>