<script type="text/x-template" id="audiolabs-page">
    <div class="content-inner settings-page">
        <div class="md-option-container">  
            <div class="md-option-header">
                <span>Cider Audio Laboratory</span>
            </div>
            <div class="settings-option-body">
                <div class="md-option-line">
                    <div class="md-option-segment">
                        Option
                    </div>
                    <div class="md-option-segment md-option-segment_auto">
                        <input type="checkbox" switch/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component('audiolabs-page', {
        template: "#audiolabs-page",
        props: [],
        data: function () {
            return {

            }
        },
        mounted: function () {

        },
        methods: {

        }})
</script>