<script type="text/x-template" id="connected">
    <div style="display:flex;width:100%;height:100%;padding-top: var(--navigationBarHeight);position:absolute;top:0;left:0;">
        <webview id="foo" src="https://cider.sh" style="display:inline-flex; width:100%;"></webview>
    </div>
</script>
<script>
    Vue.component('connected', {
        template: '#connected',
        async mounted() {
            ipcRenderer.send('get-connected-url')
            ipcRenderer.on('send-connected-url', (event, url) => {
                this.url = url
                app.webview.src = url
                document.getElementById('foo').src = url;
            })
        },
        methods: {

        }
    });
</script>