<script type="text/x-template" id="cider-listen-now">
    <div class="content-inner">
        <h1 class="header-text">{{app.getLz('term.listenNow')}}</h1>
        <template v-for="(recom,index) in data.data">
            <listennow-child :recom="recom" :index="index"></listennow-child>
        </template>
    </div>
</script>

<script>
  Vue.component('cider-listen-now', {
    template: "#cider-listen-now",
    props: ["data"],
    data: function() {
      return {
        app: this.$root
      }
    },
    mounted() {
      this.$root.getListenNow()
    }
  })
</script>
