    <div class="content-inner">
        <div class="row">
            <div class="col" style="padding:0px">
                <h1 class="header-text">Made For You</h1>
            </div>
        </div> 
        <div class="madeforyou-body">  
            <mediaitem-square-large :item="item" v-for="item in madeforyou.data">
            </mediaitem-square-large>  
        </div>                   
    </div>