<script type="text/x-template" id="cider-oobe">
    <div class="content-inner oobe">
        <div class="oobe-view">
            <div class="oobe-header">
                Welcome to Cider
            </div>
            <div class="oobe-body">
                body text
            </div>
            <div class="oobe-footer">
                <div class="btn-group">
                    <div class="md-btn">Previous</div>
                    <div class="md-btn">Next</div>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.component('cider-oobe', {
        template: '#cider-oobe',
        data: function () {
            return {
            }
        },
        async mounted() {

        },
        methods: {

        }
    });
</script>