<script type="text/x-template" id="cider-radio">
    <div class="content-inner">
        <h1 class="header-text">{{app.getLz('term.radio')}}</h1>
        <template v-for="item in data">
            <radio-child :item="item"></radio-child>
        </template>
    </div>
</script>

<script>
	Vue.component('cider-radio', {
		template: "#cider-radio",
		props: ["data"],
		data: function () {
			return {
				app: this.$root
			}
		},
		mounted() {
			this.$root.getRadioStations()
		}
	})
</script>