<template v-if="page == 'webview'">
    <div style="display:flex;width:100%;height:100%">
        <webview id="foo" :src="webview.url" nodeintegration="true" style="display:inline-flex; width:100%;"></webview>
    </div>
</template>
