<template v-if="page == 'zoo'">
    <div class="content-inner">
        <h3>Welcome to element park. *BERR NERR NERR NERR NERRRRR BERR NER NER NER NERRR BERRR NR NR NRRRR*</h3>
        <button @click="app.playMediaItemById('1592151778', 'album')">Play Test Album</button>
        {{ $store.state.test }}
        <div class="spinner"></div>
        <button class="md-btn">Cider Button</button>
        <div style="position: relative;width: 300px;height: 300px;">
            <artwork-material url="https://is3-ssl.mzstatic.com/image/thumb/Music126/v4/13/41/13/1341133b-560f-1aee-461f-c4b32ec049b4/cover.jpg/{w}x{h}bb.jpg"></artwork-material>
        </div>
    </div>
</template>
